html {
  min-height: 100%;
  position: relative;
}

/* header section */
header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: #55527F;
  z-index: 100;
}

header nav {
  display: flex;
  width: 100%;
}

header .navlist {
  flex-grow: 100;
  margin: 0px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}

header a {
  font-size: 16;
  text-decoration: none;
  color: white;
}

header img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

/* body section */
body {
  margin: 0px; /* reset a stupid default */
  background-color: #57426B;
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}




/* footer section */
content { /* technically not the footer but that wrapper is for positioning the footer */
  margin-bottom: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

.qt {
 	transition:transform 1s ease; /* these go outside the trigger bc toggling it off makes it snap */
}

.qt:hover {
  /* voidlinux made me love doing this */
  transform: rotate(360deg);
}

footer {
  position: absolute;
  bottom: 0; left: 0; right: 0;

  display: flex;
  justify-content: space-around;
  background-color: #55527F;
}
