
/* page content */


content section.title {
  justify-content: center;
  align-items: center;
  margin: 100px;
}
content section.title p {
  margin: 0;
}

content section.blurb {
  flex-direction: row;
  background-color: rgba(0,0,0,0.25);
}

content section.poem, content section.story, content section.works {
  background-color: rgba(0,0,0,0.25);
}

content section.contact {
  justify-content: center;
  background-color: rgba(0,0,0,0.25);
  height: 200px;
}

@media (max-width: 601px) or (orientation: portrait) {
  content section.blurb {
    flex-direction: column;
  }
}

