
/* page content */

content section h1 {
  font-size: 2em;
}

content section.title {
  background-color: rgba(0,0,0,0);
  justify-content: center;
  align-items: center;
  margin: 100px;
  box-shadow: 0px 0px #00000000;
  text-shadow: 3px 3px #000000AF;
}
content section.title p, content section.title h1 {
  color: white;
  margin: 0;
}

content section.blurb {
  flex-direction: row;
  background-color: #2c81c9;
  max-width: 1180px;
}

content section.contact {
  justify-content: center;
  height: 200px;
}

@media (max-width: 601px) or (orientation: portrait) {
  content section.blurb {
    flex-direction: column;
  }
  content section.blurb img {
    content:url("/img/wide-portrait.png")
  }
}

